* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins';
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

video {
  position: fixed;
  top: 0%;
  left: 0%;
  z-index: -1;
}

.time-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.time-selector button, .sound-selector button  {
  margin: 15px;
  width: 115px;
  height: 53px;
  background: none;
  border: 2px solid #ffffff;
  color: #ffffff;
  font-size: 18px;
  border-radius: 3px;
  outline: none;
  transition: .2s;
  cursor: pointer;
}

.time-selector button {
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
}

.time-selector button:hover {
  color: #333333;
  background-color: #ffffff;
}

.player {
  margin: 50px;
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.player .play {
  height: 25%;
  cursor: pointer;
}

.player img {
  margin: 10px;
  height: 80px;
  cursor: pointer;
}

.player svg {
  position: absolute;
  transform: rotate(-90deg);
  transition: all .5s;
  pointer-events: none;
}

.player h1 {
  color: #dddddd;
}

.time-display {
  position: relative;
  bottom: -10%;
  color: #dddddd;
  font-size: 40px;
  font-weight: 200;
}

.sound-selector {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}

.sound-selector button {
  margin: 20px;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  border-radius: 50%;
}

.sound-selector button:nth-child(1) {
  background-color: #3498db;
}

.sound-selector button:nth-child(2) {
  background-color: #e74c3c;
}

.sound-selector button:nth-child(1):hover  {
  background-color: #286e9c;
}

.sound-selector button:nth-child(2):hover  {
  background-color: #b64235;
}

.sound-selector button img {
  height: 50%;
}

@media screen and (min-width: 1054px) {
  .container {
    width: 100vw;
    height: 100vh;
    display: grid;
    justify-content: unset;
    align-items: unset;
    grid-template-areas: "time player sound";
  }

  .def-vid {
    position: absolute;
  }

  video {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    z-index: -1;
  }

  .time-selector {
    grid-area: time;
  }

  .player {
    grid-area: player;
  }

  .player .play {
    position: relative;
    top: 12%;
    height: 13%;
  }

  .player img {
    position: relative;
    top: 65px;
  }

  .player h1 {
    position: relative;
    bottom: 65px;
  }

  .sound-selector {
    grid-area: sound;
  }
  
  .time-selector, .player, .sound-selector {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
  }
}